.element__like {
    background-image: url('../../../images/element/heart.svg');
    background-repeat: no-repeat;
    background-position: center;
    min-width: 22px;
    height: 19px;
    margin-right: 5px;
    margin-left: auto;
}