.profile__edit-button {
    box-sizing: border-box;
    border: 1px solid #FFF;
    margin: 15px 0 0 18px;
    background-image: url('../../../images/profile/pen.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
}

@media (max-width: 548px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
    }
  }

  @media (max-width: 325px) {
    .profile__edit-button {
        margin-right: 10px;
    }
  }