.popup__input {
  border: none;
  width: 358px;
  height: 27px;
  padding-bottom: 13px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  outline: none;
}

@media (max-width: 450px) {
  .popup__input {
    width: 238px;
  }
}
