.popup__button {
    width: 358px;
    height: 50px;
    background-color: #000;
    border-radius: 2px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 18px;
    margin-bottom: 37px;
    border-style: none;
    transition: opacity 0.4s easy;
    cursor: pointer;
}

.popup__button:hover {
    opacity: 0.8;
}